.alert {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.alert.alert-top {
    margin-bottom: 0;
    border-radius: 0;
}

.alert-success {
    background-color: #00a500;
    color: #fff;
}

.alert-danger {
    background-color: #ff2222;
    color: #fff;
}

.alert-warning {
    background-color: #ffa200;
    color: #fff;
}

.display__none {
    display: none;
}

.text-left {
    text-align: left;
}

.errors {
    margin-top: -15px;
    margin-bottom: 10px;
    width: 100%;
}

.error {
    color: #ff2222;
}

.modal {
    max-width: 800px;
    text-align: center;
}
