.alert {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.alert.alert-top {
    margin-bottom: 0;
    border-radius: 0;
}

.alert-success {
    background-color: #00a500;
    color: #fff;
}

.alert-danger {
    background-color: #ff2222;
    color: #fff;
}

.alert-warning {
    background-color: #ffa200;
    color: #fff;
}

.display__none {
    display: none;
}

.text-left {
    text-align: left;
}

.errors {
    margin-top: -15px;
    margin-bottom: 10px;
    width: 100%;
}

.error {
    color: #ff2222;
}

.modal {
    max-width: 800px;
    text-align: center;
}

.form_result {
    margin-top: 20px;
    color: #0f892f;
    font-weight: bold;
}

.mobile-app-page .reviews .content .r-item .result span.half {
    background: url("/img/star2.svg");
}

.mobile-app-page .effects .item {
    text-align: center;
}

.mobile-app-page .effects .item.i2 {
    margin-top: 0;
}

.mobile-app-page .effects .item:after {
    width: 33px;
    height: 51px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    position: absolute;
    left: 50%;
    background-image: none;
}

.mobile-app-page .effects .item.effect-up:after {
    top: auto;
    bottom: 100%;
    margin: 50px 0 20px 0;
    background: url("/img/fire2.svg");
}

.mobile-app-page .effects .item.effect-down:after {
    top: 100%;
    margin: 20px 0 50px 0;
    background: url("/img/fire.svg");
}
